/* user list related styles */
.manageUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 800px;
  max-width: 1000px; */
  width: 100%;
  height: 100%;
  /* height: calc(100vh - 70px); */
  background: #171c2a;
  border-radius: 10px;
  padding: 4rem 3rem;
}

.title h2 {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 2rem;
}

.usersTable {
  width: 100%;
  color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
  height: 100%;
}

.usersTable table {
  width: 90%;
  margin: 2rem auto;
  font-size: 1.2em;
  border-collapse: collapse;
  min-width: 400px;
}

.usersTable thead tr {
  background-color: #52d794;
  color: #171c2a;
  text-align: left;
}

.usersTable tbody tr button:hover {
  /* transform: scale(1.01); */
  cursor: pointer;
}

.usersTable thead th:last-of-type,
.usersTable tbody td:last-of-type {
  text-align: center;
}

.usersTable th,
.usersTable td {
  padding: 12px 15px;
}

.name span {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}

.name span {
  font-weight: 600;
}

.usersTable tbody tr:nth-of-type(even) {
  background-color: #1f222e;
}

.usersTable tbody tr:last-of-type {
  border-bottom: 2px solid #52d794;
}
